In [2]:
from datetime import date
import pandas as pd
import yfinance as yf

def download_dataframe(list_securities, save_path, start_date = pd.to_datetime('2007-01-03'), end_date = date.today()):
    '''
    Input:
    list_security = list of security to download
    save_path = path where saving the .csv file 
    start_date = first date the programm download the data
    end_date = end date the programm download the data
    
    Output:
    pandas dataframe with 2 column indexes. The first one regards the ETFS, the second is about the holcv
    '''
    d = {}
    for security in list_securities:
        df = pd.DataFrame()
        SEC = yf.Ticker(security)
        if start_date:
            sec_df = SEC.history(start = start_date, end = end_date)
        else:    
            sec_df = SEC.history(period="max")
        sec_df.drop(columns = ['Dividends', 'Stock Splits'], inplace = True)
        d[security] = sec_df
    df = pd.concat(d,axis=1)
    df.to_csv(save_path)
    return df

In [12]:
download_dataframe(['SPY', 'DIA', 'QQQ', 'MDY', 'IJR', 'IWC'], '../data/key_market_USequties.csv', start_date = pd.to_datetime('2006-01-03'), end_date  = pd.to_datetime('2021-01-03'))
download_dataframe(['ACWI', 'ADRE', 'SPDW', 'VEA', 'IEFA'], '../data/key_market_GLOBequties.csv',start_date = pd.to_datetime('2006-01-03'), end_date  = pd.to_datetime('2021-01-03'))
download_dataframe(['TLT', 'BND', 'TIP', 'PHB', 'BWX', 'VCSH', ], '../data/key_market_bonds.csv', start_date = pd.to_datetime('2006-01-03'), end_date  = pd.to_datetime('2021-01-03'))
download_dataframe(['DBB', 'GLD', 'SLV', 'PPLT', 'DBA', 'DBO', 'UNG', 'CORN', 'SOYB' ], '../data/key_market_commodities.csv', start_date = pd.to_datetime('2006-01-03'), end_date  = pd.to_datetime('2021-01-03'))
download_dataframe(['UUP', 'CYB', 'FXB', 'FXE', 'FXY'], '../data/key_market_currencies.csv', start_date = pd.to_datetime('2006-01-03'), end_date  = pd.to_datetime('2021-01-03'))

                  UUP                                                CYB  \
                 Open       High        Low  Close     Volume       Open
Date
2006-01-03        NaN        NaN        NaN    NaN        NaN        NaN
2006-01-04        NaN        NaN        NaN    NaN        NaN        NaN
2006-01-05        NaN        NaN        NaN    NaN        NaN        NaN
2006-01-06        NaN        NaN        NaN    NaN        NaN        NaN
2006-01-09        NaN        NaN        NaN    NaN        NaN        NaN
...               ...        ...        ...    ...        ...        ...
2020-12-24  24.330000  24.360001  24.330000  24.35   280500.0  25.617047
2020-12-28  24.309999  24.370001  24.280001  24.35  1036100.0  25.626432
2020-12-29  24.270000  24.290001  24.219999  24.27  1444700.0  25.617047
2020-12-30  24.200001  24.209999  24.160000  24.17  1463900.0  25.654592
2020-12-31  24.170000  24.270000  24.170000  24.24   801500.0  25.598273

                                                      ...         FXE  \
                 High        Low      Close   Volume  ...        Open
Date                                                  ...
2006-01-03        NaN        NaN        NaN      NaN  ...  108.715432
2006-01-04        NaN        NaN        NaN      NaN  ...  110.459183
2006-01-05        NaN        NaN        NaN      NaN  ...  110.404421
2006-01-06        NaN        NaN        NaN      NaN  ...  110.924790
2006-01-09        NaN        NaN        NaN      NaN  ...  110.386140
...               ...        ...        ...      ...  ...         ...
2020-12-24  25.757851  25.617047  25.626432   7800.0  ...  114.440002
2020-12-28  25.786011  25.532564  25.626432  29200.0  ...  114.790001
2020-12-29  25.626432  25.532564  25.579498  32400.0  ...  115.139999
2020-12-30  25.654592  25.532563  25.560722   8800.0  ...  115.290001
2020-12-31  25.814173  25.551337  25.626432  11200.0  ...  115.360001

                                                              FXY             \
                  High         Low       Close  Volume       Open       High
Date
2006-01-03  109.820115  108.715432  109.719688  118600        NaN        NaN
2006-01-04  110.915663  110.221818  110.787849  227200        NaN        NaN
2006-01-05  110.660049  110.377033  110.550491  264900        NaN        NaN
2006-01-06  111.134774  110.778713  111.034348  145800        NaN        NaN
2006-01-09  110.450047  110.148768  110.404396  111400        NaN        NaN
...                ...         ...         ...     ...        ...        ...
2020-12-24  114.580002  114.440002  114.470001   25800  91.099998  91.129997
2020-12-28  114.970001  114.620003  114.730003   36300  91.120003  91.120003
2020-12-29  115.250000  114.940002  115.040001   52300  91.070000  91.239998
2020-12-30  115.559998  115.290001  115.470001   52700  91.550003  91.660004
2020-12-31  115.360001  114.709999  114.739998   94800  91.650002  91.650002


                  Low      Close   Volume
Date
2006-01-03        NaN        NaN      NaN
2006-01-04        NaN        NaN      NaN
2006-01-05        NaN        NaN      NaN
2006-01-06        NaN        NaN      NaN
2006-01-09        NaN        NaN      NaN
...               ...        ...      ...
2020-12-24  91.050003  91.089996  23100.0
2020-12-28  90.889999  90.919998  26800.0
2020-12-29  91.070000  91.190002  40500.0
2020-12-30  91.370003  91.449997  44900.0
2020-12-31  91.410004  91.459999  25400.0

[3776 rows x 25 columns]

In [33]:
US_equity = pd.read_csv('../data/key_market_USequties.csv', index_col = 0, header = [0,1]) #.set_index(US_equity['Unnamed: 0_level_0']['Unnamed: 0_level_1']['Date'])
US_equity

                   SPY                                                \
                  Open        High         Low       Close    Volume
Date
2006-01-03   90.687126   91.998281   90.107607   91.780960  73256700
2006-01-04   91.896817   92.353185   91.780912   92.215553  51899600
2006-01-05   92.106936   92.425667   91.911346   92.273544  47307500
2006-01-06   92.737129   93.142789   92.259026   93.041374  62885900
2006-01-09   93.026906   93.490519   92.997935   93.280449  43527400
...                ...         ...         ...         ...       ...
2020-12-24  360.555642  361.486234  359.938545  361.456848  26457900
2020-12-28  364.140840  364.973470  363.484553  364.562073  39000400
2020-12-29  366.168514  366.354632  363.249420  363.866547  53680500
2020-12-30  364.728563  365.473036  363.974314  364.385712  49455300
2020-12-31  364.180044  367.001176  363.641299  366.237122  78520700

                   DIA                                                ...  \
                  Open        High         Low       Close    Volume  ...
Date                                                                  ...
2006-01-03   73.239801   74.003280   72.762621   73.846497   9761900  ...
2006-01-04   73.914688   74.207811   73.805616   74.126007   5844500  ...
2006-01-05   73.969224   74.316878   73.866971   74.221443   4843600  ...
2006-01-06   74.528229   74.780448   74.139671   74.657745   9017800  ...
2006-01-09   74.644112   75.128105   74.623662   74.971321  10420700  ...
...                ...         ...         ...         ...       ...  ...
2020-12-24  293.817556  294.246119  293.106523  294.168182   1955700  ...
2020-12-28  295.794680  297.216715  295.463523  296.096619   2382400  ...
2020-12-29  297.489464  297.752464  294.772020  295.570679   2319600  ...
2020-12-30  296.203737  297.197238  295.960237  296.223236   2081300  ...
2020-12-31  296.096646  298.327119  295.463551  297.840118   2797000  ...

                  IJR                                                   IWC  \
                 Open       High        Low      Close   Volume        Open
Date
2006-01-03  23.581352  23.905494  23.204536  23.832561  5965600   43.140119
2006-01-04  23.816338  24.010823  23.763666  23.966255  4911400   43.407310
2006-01-05  23.986521  24.039194  23.852811  24.039194  1958800   43.833119
2006-01-06  24.164799  24.290404  23.962210  24.249886  1455400   44.200478
2006-01-09  24.266088  24.586179  24.221518  24.488935  7346400   44.442599
...               ...        ...        ...        ...      ...         ...
2020-12-24  90.521871  90.531672  89.767362  90.218109  1537800  121.237112
2020-12-28  91.060810  91.266585  90.463079  90.561066  5026300  121.098647
2020-12-29  90.747250  90.894235  88.611098  89.012848  5530100  118.972185
2020-12-30  89.355810  90.374892  89.355810  89.914345  2465400  116.954538
2020-12-31  89.875149  90.374893  89.208826  90.051529  3016500  117.834788


                  High         Low       Close Volume
Date
2006-01-03   43.423990   42.438792   43.373898  46200
2006-01-04   43.799719   43.382261   43.716228  39000
2006-01-05   44.041848   43.666135   44.000103  87100
2006-01-06   44.492700   44.016798   44.442604  34300
2006-01-09   44.926852   44.442599   44.801613  51600
...                ...         ...         ...    ...
2020-12-24  121.237112  119.466721  119.605186  17500
2020-12-28  121.227220  119.011762  119.140335  43900
2020-12-29  119.704076  115.253375  116.034721  40500
2020-12-30  118.250185  116.954538  117.815010  20400
2020-12-31  118.200738  117.191908  117.350159  14800

[3776 rows x 30 columns]

In [34]:
US_equity = pd.read_csv('../data/key_market_USequties.csv', index_col = 0, header = [0,1])
global_equity = pd.read_csv('../data/key_market_GLOBequties.csv', index_col = 0, header = [0,1])
bonds = pd.read_csv('../data/key_market_bonds.csv', index_col = 0, header = [0,1])
currencies = pd.read_csv('../data/key_market_currencies.csv', index_col = 0, header = [0,1])
commodities = pd.read_csv('../data/key_market_commodities.csv', index_col = 0, header = [0,1])

In [11]:
US_equity

,Unnamed: 0,SPY,SPY.1,SPY.2,SPY.3,SPY.4,DIA,DIA.1,DIA.2,DIA.3,...,IJR,IJR.1,IJR.2,IJR.3,IJR.4,IWC,IWC.1,IWC.2,IWC.3,IWC.4
0,NaN,Open,High,Low,Close,Volume,Open,High,Low,Close,...,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-01-03,90.6871036168088,91.99825812548602,90.10758481951123,91.78093719482422,73256700,73.23982366900319,74.00330322065055,72.76264374840919,73.84651947021484,...,23.581342217421557,23.905484065110567,23.204526836473633,23.832551956176758,5965600,43.14012643724137,43.42399812470232,42.43879975817056,43.373905181884766,46200
3,2006-01-04,91.8968630997329,92.35323052107938,91.7809571044501,92.2155990600586,51899600,73.91470280231448,74.20782596631446,73.80563129905144,74.12602233886719,...,23.816347843164113,24.01083297926259,23.763675848091722,23.966264724731445,4911400,43.407306483902566,43.7997150392111,43.38225682529955,43.716224670410156,39000
4,2006-01-05,92.10692112445142,92.4256514977018,91.91133117613543,92.27352905273438,47307500,73.96922447440906,74.31687812305152,73.86697125976704,74.22144317626953,...,23.98651676601112,24.0391902923584,23.85280740196728,24.0391902923584,1958800,43.833119049171884,44.04184818750127,43.66613510151759,44.00010299682617,87100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773,2020-12-24,360.5556417655624,361.48623368440343,359.93854542824675,361.45684814453125,26457900,293.8174338658804,294.2459971048225,293.1064017366854,294.1680603027344,...,90.52186376169203,90.53166471471324,89.76735484966629,90.21810150146484,1537800,121.23710413755968,121.23710413755968,119.46671317524583,119.60517883300781,17500
3774,2020-12-28,364.14084014233856,364.97347032685315,363.4845530971071,364.56207275390625,39000400,295.7946803994158,297.2167150478038,295.463523274404,296.09661865234375,...,91.06080197407016,91.26657712722957,90.46307094425339,90.5610580444336,5026300,121.09864709698289,121.22722020382167,119.01176197616904,119.14033508300781,43900
3775,2020-12-29,366.16848282140944,366.3546011867728,363.2493899432585,363.86651611328125,53680500,297.4894333846228,297.752432956638,294.7719891178082,295.5706481933594,...,90.7472426701057,90.89422706466469,88.61109090020086,89.0128402709961,5530100,118.97219309938869,119.70408409674057,115.25338275105506,116.03472900390625,40500
3776,2020-12-30,364.72856289298306,365.4730364180606,363.9743141172349,364.3857116699219,49455300,296.20376753587516,297.1972687119945,295.9602670082672,296.2232666015625,...,89.35581004592274,90.37489242082627,89.35581004592274,89.91434478759766,2465400,116.9545384456595,118.25018461758569,116.9545384456595,117.81501007080078,20400
3777,2020-12-31,364.18001361574005,367.00114498611987,363.6412687596706,366.2370910644531,78520700,296.09661594109537,298.327088903686,295.4635205689526,297.840087890625,...,89.8751415292713,90.37488546258906,89.20881877682648,90.05152130126953,3016500,117.83479615704776,118.20074544733146,117.1919155317658,117.35016632080078,14800

In [10]:
df_tot = pd.concat([US_equity, global_equity, bonds, currencies, commodities], axis = 1)
df_tot

,Unnamed: 0,SPY,SPY.1,SPY.2,SPY.3,SPY.4,DIA,DIA.1,DIA.2,DIA.3,...,CORN,CORN.1,CORN.2,CORN.3,CORN.4,SOYB,SOYB.1,SOYB.2,SOYB.3,SOYB.4
0,NaN,Open,High,Low,Close,Volume,Open,High,Low,Close,...,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2006-01-03,90.6871036168088,91.99825812548602,90.10758481951123,91.78093719482422,73256700,73.23982366900319,74.00330322065055,72.76264374840919,73.84651947021484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2006-01-04,91.8968630997329,92.35323052107938,91.7809571044501,92.2155990600586,51899600,73.91470280231448,74.20782596631446,73.80563129905144,74.12602233886719,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2006-01-05,92.10692112445142,92.4256514977018,91.91133117613543,92.27352905273438,47307500,73.96922447440906,74.31687812305152,73.86697125976704,74.22144317626953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3773,2020-12-24,360.5556417655624,361.48623368440343,359.93854542824675,361.45684814453125,26457900,293.8174338658804,294.2459971048225,293.1064017366854,294.1680603027344,...,14.710000038146973,14.760000228881836,14.6899995803833,14.760000228881836,64600.0,18.969999313354492,18.969999313354492,18.860000610351562,18.899999618530273,79000.0
3774,2020-12-28,364.14084014233856,364.97347032685315,363.4845530971071,364.56207275390625,39000400,295.7946803994158,297.2167150478038,295.463523274404,296.09661865234375,...,14.800000190734863,14.899999618530273,14.710000038146973,14.890000343322754,209900.0,19.15999984741211,19.15999984741211,18.68000030517578,18.75,155500.0
3775,2020-12-29,366.16848282140944,366.3546011867728,363.2493899432585,363.86651611328125,53680500,297.4894333846228,297.752432956638,294.7719891178082,295.5706481933594,...,14.819999694824219,15.149999618530273,14.819999694824219,15.130000114440918,236300.0,18.719999313354492,19.329999923706055,18.719999313354492,19.31999969482422,213300.0
3776,2020-12-30,364.72856289298306,365.4730364180606,363.9743141172349,364.3857116699219,49455300,296.20376753587516,297.1972687119945,295.9602670082672,296.2232666015625,...,15.100000381469727,15.350000381469727,15.079999923706055,15.300000190734863,269700.0,19.209999084472656,19.399999618530273,19.170000076293945,19.31999969482422,128500.0
3777,2020-12-31,364.18001361574005,367.00114498611987,363.6412687596706,366.2370910644531,78520700,296.09661594109537,298.327088903686,295.4635205689526,297.840087890625,...,15.449999809265137,15.600000381469727,15.359999656677246,15.579999923706055,326400.0,19.56999969482422,19.579999923706055,19.459999084472656,19.469999313354492,166400.0